.App {
  text-align: center;
  padding: 20px;
  width: 100%;
}
.Container{
  margin-right : 0 !important;
  margin-left : 0 !important;
  padding-right : 0 !important;
  padding-left : 0 !important;
 }